<meta charset="utf-8">

<style> /* set the CSS */

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }
</style>
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Initialize a select button -->

<!-- Create a div where the graph will take place -->
<div hidden id="shorturl" value="{{.ShortURL}}"></div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Long_URL</th>
            <th scope="col">Short_URL</th>
            <th scope="col">Visits</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a target="_blank"  href={{.LongURL}}>{{.LongURL}}</a></td>
            <td><a target="_blank"  href={{.ShortURL}}>{{.ShortURL}}</a></td>
            <td>{{.Count}}</td>
        </tr>
    </tbody>
</table>

<div id="svg"></div>

<svg id="chart_space" width="800" height="400"></svg>

<script>


var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 600 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// Parse the date / time
var	parseDate = d3.timeParse("%Y-%m-%d"); //d3.isoParse

var x = d3.scaleBand().rangeRound([0, width], .05).padding(0.1);

var y = d3.scaleLinear().range([height, 0]);

var xAxis = d3.axisBottom()
    .scale(x)
    .tickFormat(d3.timeFormat("%Y-%m-%d"));

var yAxis = d3.axisLeft()
    .scale(y)
    .ticks(10);

var svg = d3.select("#svg").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

          var requestURI = "http://localhost:9000/tinyurl/" + document.getElementById("shorturl").getAttribute("value") + "/requests"

d3.json(requestURI, function(error, data) {

    data = data["RequestsData"]
    data.forEach(function(d) {
        d.Date = parseDate(d.Date);
        d.Count = +d.Count;
    });

    x.domain(data.map(function(d) { return d.Date; }));
    y.domain([0, d3.max(data, function(d) { return d.Count; })]);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll("text")
        .style("text-anchor", "end")
        .attr("dx", "-.8em")
        .attr("dy", "-.55em")
        .attr("transform", "rotate(-90)" );

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Value");

    svg.selectAll("bar")
        .data(data)
        .enter().append("rect")
        .style("fill", "steelblue")
        .attr("x", function(d) { return x(d.Date); })
        .attr("width", x.bandwidth())
        .attr("y", function(d) { return y(d.Count); })
        .attr("height", function(d) { return height - y(d.Count); });

});

</script>
